{{#if isSecondary}}

<ul class="flex w-full flex-row items-center justify-center gap-2">
    {{#foreach navigation type='secondary'}}

    <li
        class="items-center gap-3 rounded-lg px-2 py-3 text-center text-sm text-slate-600 transition-colors hover:text-black hover:underline hover:underline-offset-4 dark:text-slate-400 dark:hover:text-white"
    >
        {{#link activeClass="bg-slate-100 text-black" href=(url) }} {{label}}
        {{/link}}
    </li>

    {{/foreach}}
</ul>

{{else}} {{!-- Main sidebar navigation --}}

<ul class="flex w-full flex-col space-y-5">
    {{#foreach navigation}}

    <li
        class="h-10 w-full text-slate-600 hover:bg-slate-100 hover:text-black dark:text-slate-400 dark:hover:bg-slate-300 dark:hover:text-black"
    >
        {{#link activeClass="bg-slate-100 text-black" class="flex text-sm
        items-center gap-3 px-3 py-2.5 rounded-lg transition-colors group"
        href=(url) }}
        <span
            class="group-hover:bg-primary h-2 w-2 rounded-full bg-slate-300 transition-colors dark:bg-slate-700"
        ></span>
        <span class="text-sm font-medium"> {{label}} </span>
        {{/link}}
    </li>

    {{/foreach}}
</ul>

{{/if}}
