@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@import 'tw-animate-css';
@import './penguinui.css';

@source '../**/*.hbs';
@source '../../**/*.hbs';
@source '../assets/js/**/*.js';

@custom-variant dark (&:where(.dark, .dark *));

@custom-variant dark (&:is(.dark *));

/* Add Dynamic Fonts in site on entire website*/
@layer utilities {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--gh-font-heading, 'Inter'), system-ui, sans-serif;
    }

    p,
    span,
    a,
    li,
    blockquote,
    code {
        font-family: var(--gh-font-body, 'Inter'), system-ui, sans-serif;
    }


    /* Remove borders/lines from highlight.js line-numbers wrapper so code blocks stay clean */

    .hljs-ln,
    .hljs-ln table,
    .hljs-ln tr,
    .hljs-ln td {
        border: 0 !important;
        outline: 0 !important;
    }

    .hljs-ln td {
        padding: 0;
    }
}

/* Add the support fonts in tailwindcss-typography */
@utility prose-logly {
    
    /* light mode */
    --tw-prose-body: var(--prose-color);
    --tw-prose-headings: var(--prose-color);
    --tw-prose-lead: var(--prose-color);
    --tw-prose-links: var(--prose-color);
    --tw-prose-bold: var(--prose-color);
    --tw-prose-counters: var(--prose-color);
    --tw-prose-bullets: var(--prose-color);
    --tw-prose-hr: var(--prose-color);
    --tw-prose-quotes: var(--prose-color);
    --tw-prose-quote-borders: var(--prose-color);
    --tw-prose-captions: var(--prose-color);
    --tw-prose-code: var(--prose-color);
    --tw-prose-pre-code: var(--prose-color);
    --tw-prose-pre-bg: rgba(0, 0, 0, 0.05);
    --tw-prose-th-borders: var(--prose-color);
    --tw-prose-td-borders: var(--prose-color);
    /* dark mode */
    --tw-prose-invert-body: var(--prose-color);
    --tw-prose-invert-headings: var(--prose-color);
    --tw-prose-invert-lead: var(--prose-color);
    --tw-prose-invert-links: var(--prose-color);
    --tw-prose-invert-bold: var(--prose-color);
    --tw-prose-invert-counters: var(--prose-color);
    --tw-prose-invert-bullets: var(--prose-color);
    --tw-prose-invert-hr: var(--prose-color);
    --tw-prose-invert-quotes: var(--prose-color);
    --tw-prose-invert-quote-borders: var(--prose-color);
    --tw-prose-invert-captions: var(--prose-color);
    --tw-prose-invert-code: var(--prose-color);
    --tw-prose-invert-pre-code: var(--prose-color);
    --tw-prose-invert-pre-bg: rgba(255, 255, 255, 0.08);
    --tw-prose-invert-th-borders: var(--prose-color);
    --tw-prose-invert-td-borders: var(--prose-color);
}

@layer components {

    /* Add the support fonts in tailwindcss-typography */
    .prose {
        --tw-prose-body: var(--gh-font-body);
        --tw-prose-headings: var(--gh-font-heading);
    }

    .prose :where(.kg-card, .kg-image-card, .kg-gallery-card, .kg-embed-card, .kg-bookmark-card) {
        @apply w-full mx-auto ;
    }

    .prose :where(.kg-bookmark-content, .kg-file-card-container) {
        @apply bg-surface-alt text-on-surface dark:text-on-surface-dark-strong dark:bg-surface-dark-alt ;
    }

    .prose :where(.kg-card, .kg-image-card, .kg-gallery-card, .kg-embed-card, .kg-bookmark-card, .kg-bookmark-thumbnail ) img {
        @apply w-full h-auto m-0;
    }
    .prose :where(.kg-bookmark-thumbnail) {
        @apply -mt-0;
    }

    .prose :where(.kg-bookmark-thumbnail) img {
        @apply -top-8! w-full h-auto object-cover m-0;
    }

    .prose :where(.kg-embed-card) iframe {
        @apply h-120 w-full;
    }    
    
   .prose :where(.kg-card, .kg-image-card, .kg-gallery-card, .kg-embed-card, .kg-bookmark-card) figcaption {
        @apply text-center;
    }
    .prose :where(.kg-width-wide) {
        @apply w-[min(1100px,90vw)] max-w-[min(1100px,90vw)] lg:w-[min(1200px,85vw)] mx-auto;
    }

    .prose :where(.kg-width-full) {
        @apply relative left-1/2 right-1/2 -z-10 w-screen max-w-[70vw] -translate-x-1/2 transform;
    }

    .prose :where(.kg-width-full, .kg-width-wide) img {
        @apply w-full h-auto m-0;
    }

    .prose :where(.kg-gallery-container, .kg-gallery-row) {
        @apply w-full mx-auto;
    }

    .prose :where(.kg-gallery-row) {
        @apply w-full max-w-none flex-col! gap-1 md:flex-row! flex-wrap!;
    }
}